h1 {
  font-size: 4.0rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 0px 0px 0px 0px;
}

h2 {
  font-size: 3.0rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 0px 0px 0px 0px;
}

h3 {
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 0px 0px 0px 0px;
}

h4 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 0px 0px 0px 0px;
}

div {
  word-wrap: break-word;
}

div.toc {
  float: right;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 20px;
  padding: 0px;
}

div.well {
  width: 100%;
}

div.toc ul {
  list-style-type: none;
  margin: 5px;
  padding: 0px;
}

div.toc ul ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div.toc ul a {
  text-decoration: none;
  display: block;   
  margin: 0px;
  padding: 2px;
}

div.toc ul a:hover {
  background-color: #ddd;
}

div.toc ul li { 
  text-decoration: none;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: dotted;
  border-width: 2px;
  border-radius: 4px;
  border-color: #f5f5f5;
  width: 100%;
  margin: 0px;
}

div.toc ul li:hover { 
  text-shadow: 0px 0px 0px #000000;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: dotted;
  border-width: 2px;
  border-radius: 4px;
  border-color: #bbb;
}

div.toc ul li li { 
  text-shadow: none;
  font-weight: normal; 
  display: block; 
}

div.well ul li li { 
  text-shadow: none;
  font-weight: normal; 
  display: none; 
}

div.well ul li:hover li { 
  display: block; 
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  min-width: 50%;
}

td {
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

th {
  background-color: #222;
  color: white;
  padding: 8px;
}
